body{
    background-color: rgb(65, 63, 63);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pointerClass{
    cursor: pointer;
}

.card{
    background-color: rgb(84, 128, 163);
    padding: 5px;
    max-width: 32%;
    max-height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}