body{
    background-color: rgb(44, 44, 44);
    color: white;
}

img{
    width: 150px;
    height: 100px;
}

.imgGatitos{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    max-height: 500px;
}

.avatar{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}